/* .navbar{
    background-color:#00643e;
    color:white;
    font-size:40px;
    justify-content: center;
    height:80px;
    padding-top: 15px;
    display:flex;
    gap:60px;

}
a{
    color:white;
}
h1{
    text-align:center;
}
.box1{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom:5px;
}
.container{
    display:flex;
    margin-top:30px;
}
.box{
    width: 200px;
    height: 150px;
    border:2px solid black;
} */



.navbar{
    background-color:#00643e;
    color:white;
    font-size:40px;
    justify-content: center;
    height:80px;
    padding-top: 15px;
    display:flex;
    gap:60px;

}
a{
    color:white;
}
h1{
    text-align:center;
}
.box1{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom:9px 13px;
}
.container1{
    display:flex;
    margin-top:30px;
    gap:90px;
    justify-content: center;
}
.box{
    width: 200px;
    height: 150px;
      border:2px solid black;


    }
.container2{
    display:flex;
    margin-top:30px;
    gap:90px;
    justify-content: center;
}
.btn-container{
    display:flex;
    gap:50px;
}
.btn-container button{
    padding :8px 12px;
    cursor:pointer;
}
.R{
    width:400px;
    height:350px;
    object-fit:cover;
}
.footer {
  background: #0b0b0b;
  color: #fff;
  padding: 30px 0 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-box {
  width: 250px;
  margin-bottom: 20px;
}

.footer-box h3 {
  margin-bottom: 10px;
}

.footer-box a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 6px;
}

.footer-box a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 10px;
  font-size: 14px;
}